[data-theme="light"] {
	--color-primary: theme("colors.pink.500");
	--color-secondary: theme("colors.indigo.500");
	--color-text: theme("colors.gray.900");
	--color-text-offset: theme("colors.gray.600");
	--color-background: #FFEDAF;
	--color-background-offset: theme("colors.gray.100");
	--color-border: theme("colors.gray.900" / 10%);

	--color-background-gradient-top: #cf8ffc;
	--color-background-gradient-bottom: #fe94c9;

	--color-theme-0: theme("colors.white");
	--color-theme-50: theme("colors.gray.50");
	--color-theme-100: theme("colors.gray.100");
	--color-theme-200: theme("colors.gray.200");
	--color-theme-300: theme("colors.gray.300");
	--color-theme-400: theme("colors.gray.400");
	--color-theme-500: theme("colors.gray.500");
	--color-theme-600: theme("colors.gray.500");
	--color-theme-700: theme("colors.gray.700");
	--color-theme-800: theme("colors.gray.800");
	--color-theme-900: theme("colors.gray.900");
	--color-theme-1000: theme("colors.black");
}

[data-theme="dark"] {
	--color-primary: theme("colors.pink.500");
	--color-secondary: theme("colors.indigo.400");
	--color-text: theme("colors.gray.50");
	--color-text-offset: theme("colors.gray.400");
	--color-background: #0D132E;
	--color-background-offset: theme("colors.gray.800");
	--color-border: theme("colors.gray.50" / 10%);

	--color-background-gradient-top: #4b0088;
	--color-background-gradient-bottom: #762449;

	--color-theme-0: theme("colors.black");
	--color-theme-50: theme("colors.gray.900");
	--color-theme-100: theme("colors.gray.800");
	--color-theme-200: theme("colors.gray.700");
	--color-theme-300: theme("colors.gray.600");
	--color-theme-400: theme("colors.gray.500");
	--color-theme-500: theme("colors.gray.400");
	--color-theme-600: theme("colors.gray.300");
	--color-theme-700: theme("colors.gray.200");
	--color-theme-800: theme("colors.gray.100");
	--color-theme-900: theme("colors.gray.50");
	--color-theme-1000: theme("colors.white");
}