---
import plain from '~/assets/plain.svg?raw'

interface Props
{
	class?: string
}

const
{
	class: plainClass = undefined,
} = Astro.props
---

<div class={plainClass}>
	<Fragment set:html={plain} />
</div>

<style lang="scss">
	div {
		:global(svg.plain) {
			@apply absolute bottom-0 w-full object-cover;
		}
	}

	:global([data-theme="dark"]) {
		div {
			:global(.day_theme) {
				opacity: 0;
			}
		}
	}
</style>
