---
import Layout from '~/layouts/Layout.astro'
import Header from '~/components/header.astro'
import ContentSection from '~/components/content-section.astro'
import Footer from '~/components/footer.astro'
import '~/styles/index.css'

const jalons = [
    {
        date: '04/10/2022',
        title: 'Ouverture des serveurs de jeux officiel 2GETHER',
        description:
            'Ouverture de 2 serveurs Minecraft hébergé par nos soins exclusifs à nos membres.',
    },
    {
        date: '27/07/2022',
        title: 'Ouverture de la Cagnotte Libre 2GETHER',
        description:
            'Mise en place d\'une cagnotte participative permettant de financer des jeux multijoueurs joués lors des soirées 2GETHER pour des membres les plus démunies.',
    },
    {
        date: '28/05/2022',
        title: 'Annonce des Tournois 2GETHER',
        description:
            'Le premier vendredi du mois rime avec tournois ! Chaque mois un jeu sur lequel s\'affrontrer pour gagner des points dans un classement général, gain à la clé en fin d\'année.',
    },
    {
        date: '08/04/2022',
        title: 'Premiers Giveaways',
        description:
            'Première campagne de Giveaways, 2 jeux à gagner par semaines pour les membres.',
    },
    {
        date: '29/01/2022',
        title: 'Annonce du premier gros projet',
        description:
            'Annonce des soirées JDR, des jeux de rôles créé par la communauté pour la communauté !',
    },
    {
        date: '08/05/2021',
        title: 'Ouverture d\'un serveur Minecraft',
        description: 'Ouverture du premier serveur 2GETHER.',
    },
    {
        date: '17/01/2022',
        title: 'Planning Hebdomadaire d\'évènements en ligne',
        description:
            'Mise en place du planning hebdo permettant aux membres de se retrouver chaques semaines le mercredi, vendredi et samedi (voir dimanche).',
    },

    {
        date: '18/10/2021',
        title: 'Première Rencontre 2GETHER',
        description: 'Meet up sur Paris le temps d\'un week end.',
    },

    {
        date: '26/02/2021',
        title: 'Premiers évènements en ligne',
        description:
            'Première soirée jeux, suivie 2 jours plus tard par la première projection du Ciné 2GETHER !',
    },

    {
        date: '05/01/2021',
        title: 'Création de l\'association',
        description:
            'C\'est la date de parution au journal officiel pour 2GETHER, désormais la communauté est aussi une association à but non lucratif.',
    },

    {
        date: '23/12/2020',
        title: 'Ouverture au public',
        description:
            'Pour finir l\'année en beauté, Helldwin lança une première énigme sur la toile. Le but ultime arriver sur le discord de 2GETHER ! La communauté est belle et bien lancée !',
    },

    {
        date: '18/11/2020',
        title: 'Les Prémices',
        description:
            'En ce soir si spécial Helldwin et Matiboux eurent une idée ensemble, pourquoi ne pas créer un lieu où des personnes des quatres coins de la France pourraient se retrouver et partager des moments convivaux, leurs passions et faire de belles rencontres ! Les jeunes de plus en plus touchés par l\'isolement social auraient un petit coup de pouce avec 2GETHER.',
    },
]
---

<Layout
	title="Les Fondateurs"
	lang="fr"
	htmlAttributes={{ "data-theme": "dark" }}
	socialUrl={Astro.site}
>
	<Header />
	<div class="grid place-items-center">
		<div class="row pt-32">
			<ContentSection title="Qui sommes nous ?" id="nous" />
			<div
				class="column mb-5 card max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
			>
				<a href="#">
					<img
						class="rounded-t-lg"
						src="/src/assets/HelldwinPP.png"
						alt=""
					/>
				</a>
				<div class="p-5">
					<a href="#">
						<h5
							class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
						>
							Helldwin
						</h5>
					</a>
					<p
						class="mb-3 font-normal text-gray-700 dark:text-gray-400"
					>
						Fondateur, Président et Admin
					</p>
					<a
						href="https://quentin-helayel.eu"
						class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						Voir son site
						<svg
							aria-hidden="true"
							class="ml-2 -mr-1 w-4 h-4"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
								clip-rule="evenodd"></path>
						</svg>
					</a>
				</div>
			</div>
			<div
				class="column card max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
			>
				<a href="https://matiboux.me">
					<img
						class="rounded-t-lg"
						src="/src/assets/MatibouxPP.png"
						alt=""
					/>
				</a>
				<div class="p-5">
					<a href="https://matiboux.me">
						<h5
							class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
						>
							Matiboux
						</h5>
					</a>
					<p
						class="mb-3 font-normal text-gray-700 dark:text-gray-400"
					>
						Fondateur, Co-Président et Admin
					</p>
					<a
						href="#"
						class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						Voir son site
						<svg
							aria-hidden="true"
							class="ml-2 -mr-1 w-4 h-4"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
								clip-rule="evenodd"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div
			class="block mb-5 p-6 max-w-7xl bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
		>
			<div class="grid-cols-3 text-center">
				<a
					href="https://files.2gether-asso.fr/asso/statuts.pdf"
					class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				>
					Les Statuts
				</a>
				<a
					href="https://files.2gether-asso.fr/asso/règlement_intérieur.pdf"
					class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				>
					Règlement Intérieur
				</a>
				<a
					href="https://files.2gether-asso.fr/asso/bureau.pdf"
					class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				>
					Bureau
				</a>
			</div>
			<img class="center" src="src/assets/ligneDeVie.png" />

			<ol
				class="relative border-l border-gray-200 dark:border-gray-700"
			>
				{
					jalons.map(({ date, title, description }) => (
						<li class="mb-10 ml-4">
							<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
							<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
								{date}
							</time>
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
								{title}
							</h3>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">
								{description}
							</p>
						</li>
					))
				}
			</ol>
			<a href="#">
				<button
					type="button"
					class="center text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="1em"
						height="1em"
						preserveAspectRatio="xMidYMid meet"
						viewBox="0 0 24 24"
						><path
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="m4 15l8-8l8 8"></path>
					</svg>
					<span class="sr-only">Icon description</span>
				</button>
			</a>
		</div>
	</div>

	<Footer />
	<style>
		/* Float four columns side by side */
		.column {
			float: left;
			width: 50%;
		}

		/* Remove extra left and right margins, due to padding in columns */
		.row {
			align-items: center;
			margin: auto;
			justify-items: center;
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		/* Responsive columns - one column layout (vertical) on small screens */
		@media screen and (max-width: 600px) {
			.column {
				width: 100%;
				display: block;
				margin-bottom: 20px;
			}
		}

		/* Style the counter cards */
		.card {
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
			margin-right: 20px;
		}

		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</Layout>
