---
import Layout from '~/layouts/Layout.astro'
import Header from '~/components/Header.astro'
import Splash from '~/components/splash.astro'
import HomeIntro from '~/components/HomeIntro.astro'
import HomeAsso from '~/components/HomeAsso.astro'
import HomeCommunity from '~/components/HomeCommunity.astro'
import Footer from '~/components/footer.astro'
import '~/styles/index.css'
---

<Layout
	title="Bienvenue sur 2GETHER"
	lang="en"
	htmlAttributes={{ "data-theme": "dark" }}
	socialUrl={Astro.site}
>
  <Header fixedHeader={false} />
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <HomeIntro />
    <HomeAsso />
    <HomeCommunity />
  </div>
  <Footer />
</Layout>
