---
import { Icon } from 'astro-icon'
import Layout from '~/layouts/Layout.astro'
import Header from '~/components/Header.astro'
import ContentSection from '~/components/ContentSection.astro'
import MCServerStatus from '~/components/MCServerStatus.vue'
import Button from '~/components/Button.astro'
import Footer from '~/components/Footer.astro'
import '~/styles/index.css'
import ligneDeVie from '~/assets/ligneDeVie.png'
---

<Layout
	title="Nos Serveurs"
	lang="fr"
	htmlClass="h-full motion-safe:scroll-smooth"
	htmlAttributes={{ "data-theme": "dark" }}
	bodyClass="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	socialUrl={Astro.site}
>
	<Header />

	<main>
		<div>
			<ContentSection title="Nos Serveurs" id="servers" />

			<img src={ligneDeVie} class="separator" />

			<ul class="servers">
				<li>
					<MCServerStatus name="vanilla" client:visible>
						<div class="status-ok" slot="up">
							<Button href="https://mc.2gether-asso.fr" class="btn">
								<Icon name="clarity:map-line" class="icon" />
								Voir la map
							</Button>
						</div>
						<style lang="scss">
							.status-ok {
								.btn {
									@apply mx-auto;

									.icon {
										@apply mr-3 w-6 h-6;
									}
								}
							}
						</style>
					</MCServerStatus>
				</li>

				<li>
					<MCServerStatus name="modded" client:visible />
				</li>
			</ul>
		</div>
	</main>

	<Footer />
</Layout>

<style lang="scss">
	main {
		@apply flex justify-center;

		> div {
			@apply py-32 space-y-3;
		}
	}

	.separator {
		@apply mx-auto;
	}

	.servers {
		@apply grid grid-cols-1 sm:grid-cols-2;

		> li {
			@apply flex flex-col gap-4 p-6 border border-default bg-offset;
		}
	}
</style>
