---
import { Icon } from 'astro-icon'
import Layout from '~/layouts/Layout.astro'
import Header from '~/components/Header.astro'
import ContentSection from '~/components/ContentSection.astro'
import MCServerStatus from '~/components/MCServerStatus.vue'
import Footer from '~/components/Footer.astro'
import '~/styles/index.css'
---

<Layout
	title="Nos Serveurs"
	lang="fr"
	htmlClass="h-full motion-safe:scroll-smooth"
	htmlAttributes={{ "data-theme": "dark" }}
	bodyClass="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	socialUrl={Astro.site}
>
  <Header />

  <main>
    <div>
      <ContentSection title="Nos Serveurs" id="servers" />

      <img src="/assets/LigneDeVie.png" class="separator" />

      <ul class="servers">
        <li>
          <MCServerStatus name="vanilla" client:visible>
            <a href="https://mc.2gether-asso.fr" class="map-link">
              <div>
                <div class="row">
                  <Icon
                    name="clarity:map-line"
                    style=""
                    class="inline-block"
                  />
                  Voir la map
                </div>
              </div>
            </a>

            <style lang="scss">
              .map-link {
                @apply block;
                @apply bg-gradient-to-br from-purple-600 to-blue-500;
                @apply mx-auto mb-2 p-0.5;
                @apply flex items-center justify-center overflow-hidden font-medium rounded-lg;
                @apply text-theme-900 hover:text-white;

                > div {
                  @apply bg-theme-0 hover:bg-transparent;
                  @apply w-full;
                  @apply px-3.5 py-1.5;
                  @apply text-center;
                  @apply rounded-md;

                  > .row > svg {
                    @apply w-full;
                    max-width: 30px;
                  }
                }
              }
            </style>
          </MCServerStatus>
        </li>

        <li>
          <MCServerStatus name="modded" client:visible />
        </li>
      </ul>
    </div>
  </main>

  <Footer />
</Layout>

<style lang="scss">
  main {
    @apply flex justify-center;

    > div {
      @apply py-32 space-y-3;
    }
  }

  .separator {
    @apply mx-auto;
  }

  .servers {
    @apply grid grid-cols-2;

    > li {
      @apply flex flex-col gap-4 p-6 border border-default bg-offset;
    }
  }
</style>
