---
import { Icon } from 'astro-icon'
import ContentSection from '~/components/ContentSection.astro'
import type { FeatureItem } from '~/types'

const asso: Array<FeatureItem> = [
  {
    title: 'Créations d\'activités',
    description:
      '2GETHER permet à des personnes de la France entière de se rencontrer et d\'échanger pendant une activité, d\'une simple balade à une sortie au cinéma, votre imagination sera la seule barrière.',
    icon: 'mdi:plus-thick',
  },
  {
    title: 'Sanctuaires',
    description:
      'Une liste précieuse validé par 2GETHER de lieux dit "safe", autant par la connaissance de son personnel que la fréquentation régulière par des membres.',
    icon: 'mdi:storefront',
  },
  {
    title: 'Communauté lié',
    description:
      'Outre les actions physiques, être membre vous lie aussi à une communauté en ligne, active, à l\'écoute, permettant elle aussi de ne pas rester seul et de faire de nouvelles rencontres.',
    icon: 'mdi:account-group',
  },
]
---

<ContentSection title="Actions physique" id="asso">
  <Fragment slot="lead">
    Les membres auront accès à différents <span class="text-primary">outils</span>.
    En plus d'une <span class="text-primary">ouverture à la communauté</span>.
  </Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      asso.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
