---
import PageTitle from '~/components/PageTitle.astro'

interface Props
{
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
	<div class="flex flex-col items-center gap-4">
		<slot name="eyebrow" />

		<PageTitle>{title}</PageTitle>
	</div>

	<p class="max-w-xl text-center font-extrabold text-2xl">
		<slot name="lead" />
	</p>

	<slot />
</section>
