---
import PageTitle from '~/components/PageTitle.astro'

interface Props
{
	id: string;
	class?: string;
	title: string;
}

const {
	id,
	class: contentClass = undefined,
	title,
} = Astro.props;
---

<section id={id} class:list={["flex scroll-mt-24 flex-col items-center gap-8", contentClass]}>
	<div class="flex flex-col items-center gap-4">
		<slot name="eyebrow" />

		<PageTitle>{title}</PageTitle>
	</div>

	<p class="max-w-4xl text-center font-extrabold text-2xl">
		<slot name="lead" />
	</p>

	<slot />
</section>
