---
import PageTitle from '~/components/PageTitle.astro'

interface Props
{
	id: string;
	class?: string;
	title: string;
}

const {
	id,
	class: sectionClass = undefined,
	title,
} = Astro.props;
---

<section id={id} class={sectionClass}>
	<div class="title">
		<slot name="eyebrow" />

		<PageTitle>{title}</PageTitle>
	</div>

	<p>
		<slot name="lead" />
	</p>

	<slot />
</section>

<style lang="scss">
	section {
		@apply flex scroll-mt-24 flex-col items-center gap-8;

		> .title {
			@apply flex flex-col items-center gap-4;
		}

		> p {
			@apply max-w-4xl text-center font-extrabold text-2xl;
		}
	}
</style>
