---
import { Icon } from 'astro-icon'
import social from '~/data/social.json'

interface Props
{
	class?: string
}

const
{
	class: footerClass = undefined,
} = Astro.props
---

<footer class={footerClass}>
	<div>
		<div>
			<p>
				<Icon pack="mdi" name="copyright" class="icon" />
				2020-2023 – 2GETHER
				<a
					href="https://github.com/2gether-asso/2gether-asso.fr#licence"
					class="license"
				>
					<img
						src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc-sa.svg"
						alt="CC BY-NC 4.0"
					/>
				</a>
			</p>
		</div>
		<p><a href="/legal">Mentions Légales</a></p>
	</div>
	<ul>
		{
			Object.values(social).map(data => (
				<li>
					<a href={data.url}>
						<span>{data.description}</span>
						<Icon class="icon" name={data.icon} />
					</a>
				</li>
			))
		}
	</ul>
</footer>

<style lang="scss">
	footer {
		@apply relative flex items-center justify-around max-w-7xl h-64 mx-auto p-4;

		> div {
			@apply px-2 z-40;

			> div {
				@apply grid;

				.icon {
					@apply h-5 inline mb-0.5;
				}

				.license {
					@apply ml-2;

					> img {
						@apply inline mb-1;
					}
				}
			}

			> p > a {
				@apply text-primary;
			}
		}

		> ul {
			@apply relative grid grid-cols-2 gap-4 sm:grid-cols-4 px-2;

			> li > a {
				@apply flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4;

				> span {
					@apply sr-only;
				}

				> .icon {
					@apply h-full;
				}
			}
		}
	}
</style>
