---
import { Icon } from 'astro-icon'
import social from '~/data/social.json'

interface Props
{
	class?: string;
}

const {
	class: footerClass = undefined,
} = Astro.props;
---

<footer class:list={["relative flex h-64 items-center justify-center p-4", footerClass]}>
  <div class="z-40">
    <div class="grid">
      <p>
        <Icon pack="mdi" name="copyright" class="h-5 inline mb-0.5" />
        2020-2022 – 2GETHER
        <a href="https://github.com/2gether-asso/2gether-asso.fr#licence" class="ml-2">
          <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc-sa.svg"
               alt="CC BY-NC 4.0" class="inline mb-1" />
        </a>
      </p>
    </div>
    <u><a href="/legal" class="text-primary">Mentions Légales</a></u>
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      Object.values(social).map(data =>
        (
          <li>
            <a href={data.url} class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4">
              <span class="sr-only">{data.description}</span>
              <Icon class="h-full" name={data.icon} />
            </a>
          </li>
        ))
    }
  </ul>
</footer>
