---
import { Icon } from 'astro-icon'
import ContentSection from '~/components/ContentSection.astro'
import type { FeatureItem } from '~/types'

const community: Array<FeatureItem> = [
  {
    title: 'Cinéma 2GETHER',
    description: 'Toutes les semaines, diffusion & groupwatch des films et séries proposés et votés par la communauté !',
    icon: 'mdi:theater',
  },
  {
    title: 'Jeux de rôles',
    description: 'Une équipe de MJ vous proposeront des scénarios écrit pour l\'occasion, permettant de partager un bon moment avec les membres présents.',
    icon: 'mdi:dice-d20',
  },
  {
    title: 'Groupe de Créateurs',
    description: 'Une passion vous anime ? Venez donc partager vos créations avec nous, et participer a des projets communs pour commencer à vous créer un réseau.',
    icon: 'mdi:pencil',
  },
  {
    title: 'Soirée Jeux',
    description: 'Toutes les semaines, des soirées sur des jeux multijoueurs avec les membres, du simple loup garou, gartic phone à des parties endiablées de Worms.',
    icon: 'mdi:gamepad-variant',
  },
  {
    title: 'Tournois',
    description: 'Tout les 1er vendredi du mois, un tournoi est mis en place sur un jeu des soirées ou un jeu créé pour l\'occasion. A la fin de l\'année les scores des tournois sont aditionner pour offrir un lot au 1er !',
    icon: 'mdi:trophy',
  },
  {
    title: 'Serveurs dédiés',
    description: 'Des serveurs de jeux privés sont disponible pour nos membres à la demande. Actuellement nous avons 2 serveurs Minecraft qui tourne h24 pour vivre de belles aventures avec vous !',
    icon: 'mdi:server',
  },
  {
    title: 'Jeux de pistes',
    description: 'Des codes étrange apparaisse des fois sur le discord, serez vous capable de suivre l\'énigme de bout en bout pour gagner un jeu ?',
    icon: 'mdi:puzzle',
  },
  {
    title: 'Émissions sur Twitch',
    description: 'Certains de nos moments 2GETHER seront partagé et diffusé sur Twitch, cela sera aussi l\'occasion de proposer des émissions plus aboutti.',
    icon: 'mdi:twitch',
  },
  {
    title: 'Giveaways',
    description: 'Nous offrons régulièrement des jeux à nos membres avec un système de tirage au sort.',
    icon: 'mdi:gift',
  },
]
---

<ContentSection id="community" title="Actions à distance">
  <Fragment slot="lead">
    Une communauté sur <span class="text-primary">discord</span> ouverte sur parainage
    et adhésions proposants des évènements réguliers.
  </Fragment>

  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      community.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
