---
import { Icon } from 'astro-icon'
import KeyPoints from '~/components/KeyPoints.astro'
import asso from '~/data/asso.json'
---

<KeyPoints id="asso" title="Actions en physique">
	<Fragment slot="lead">
		Les membres auront accès à différents <span class="text-primary">outils</span>.
		En plus d'une <span class="text-primary">ouverture à la communauté</span>.
	</Fragment>

	{
		asso.map(({ title, description, icon }) => (
			<li>
				<div>
					<div class="icon">
						<Icon name={icon} />
					</div>
					<p class="title">
						{title}
						</p>
					<p class="description">
						{description}
					</p>
				</div>
			</li>
		))
	}
</KeyPoints>
