---
import ContentSection from '~/components/ContentSection.astro'

const logoSrc = '/assets/logo.png'
---

<ContentSection id="intro" title="Une association à but non lucratif">
	<Fragment slot="eyebrow">
		<img src={logoSrc} class="logo" />
		<style lang="scss">
			.logo {
				@apply max-w-xl w-full;
			}
		</style>
	</Fragment>

	<Fragment slot="lead">
		Régie par la loi 1901, notre but est de <span class="text-primary">rassembler</span>
		et <span class="text-primary">d'aider</span> les jeunes à sortir de l'isolement social.
	</Fragment>
</ContentSection>
