---
import { Icon } from 'astro-icon'
import ContentSection from '~/components/ContentSection.astro'
import community from '~/data/community.json'
---

<ContentSection id="community" title="Actions à distance">
	<Fragment slot="lead">
		Une communauté sur <span class="text-primary">discord</span> ouverte sur parainage
		et adhésions proposants des évènements réguliers.
	</Fragment>

	<ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		{
			community.map(({ title, description, icon }) => (
				<li class="flex flex-col gap-4 border border-default bg-slate-800 bg-opacity-70 relative">
					<div class="p-6 backdrop-blur-sm">
						<div class="w-16 h-16 p-3 border-2 border-current rounded-full mx-auto">
							<Icon name={icon} />
						</div>
						<p class="text-xl font-extrabold text-center mb-3">
							{title}
						</p>
						<p class="text-sm text-center text-offset">
							{description}
						</p>
					</div>
				</li>
			))
		}
	</ul>
</ContentSection>
