---
import ContentSection from '~/components/content-section.astro'
import imgLogo from '~/icons/logoSite.png'
---

<ContentSection title="Une association à but non lucratif" id="intro">
  <img slot="eyebrow" class="logotitre" src={imgLogo} class="h-1" />
  <Fragment slot="lead">
    Régie par la loi 1901, notre but est de
    <span class="text-primary">rassembler</span>
    et
    <span class="text-primary">d'aider</span>
    les jeunes à sortir de l'isolement social.
  </Fragment>
</ContentSection>
