---
interface Props
{
	id?: string;
	class?: string;
	style?: string | undefined;
}

const {
	id = undefined,
	class: titleClass = undefined,
	style = undefined,
} = Astro.props;
---

<h2 id={id} class={titleClass} style={style}>
	<slot />
</h2>

<style lang="scss">
	h2 {
		@apply text-6xl font-extrabold tracking-tight text-center;
		@apply text-transparent bg-clip-text;
		@apply bg-gradient-to-b from-[#9600ff] to-pink-500;
	}
</style>
