---
import ContentSection from '~/components/ContentSection.astro'
---

<ContentSection title="Showcase" id="showcase">
	<Fragment slot="lead">
		Astro is <span class="text-primary">versatile</span>.{" "}
		<span class="text-primary">Explore</span> what's possible and get{" "}
		<span class="text-primary">inspired</span>.
	</Fragment>
</ContentSection>
