---
import { Icon } from 'astro-icon'
import sky from '~/assets/sky.svg'
import Parallax from '~/components/Parallax.astro'
import Starfield from '~/components/Starfield.astro'
import Button from './Button.astro'
import social from '~/data/social.json'

const logoSrc = '/assets/logo.png'
---

<section class="relative h-full bg-black shrink-0 overflow-hidden">
	<img src={sky} class="sky" />
	<Starfield />
	<Parallax />
	<div class="relative grid h-full place-items-center z-10">
		<div class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto">
			<h2 class="gradient-text text-center font-extrabold tracking-tighter text-4xl">
				Partageons un moment
				<span class="sr-only">2GETHER</span>
			</h2>
			<img src={logoSrc} class="logotitre h-full max-h-16 text-white md:max-h-24" />
			<div class="relative grid h-full place-items-center mt-4">
				<Button href={social.discord.url}>
					<Icon class="h-5 mr-2" name={social.discord.icon} />
					Rejoins-nous sur Discord&nbsp;!
				</Button>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	section {
		@apply relative w-full h-screen pb-16;

		img {
			@apply pointer-events-none;
			&.sky {
				@apply pointer-events-none select-none;
				@apply absolute top-0 left-0 w-full h-full object-cover;
			}
		}

		img.logotitre {
			@apply pointer-events-none select-none;
			z-index: 49;
		}

		a.btn {
			@apply pointer-events-none opacity-50;
			background: gray;
		}

		.bg {
			background: linear-gradient(#2b1055, #7597de);
		}

		.grid {
			@apply p-8;
		}
	}
</style>
